# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE folders
.vscode/
.idea/

# Database / temporary files
*.sqlite3
*.db